%tr
  %td
    =presentation.id
  %td
    =presentation.presentation_date_time
  %td
    =presentation.title
  %td
    =link_to(presentation.proposal.id, admin_proposal_path(presentation.proposal)) unless presentation.proposal.nil?
  %td
    =display_speakers(presentation)
  %td
    =link_to 'Edit', edit_admin_presentation_path(presentation)