-form_for [:admin, @proposal] do |f|
  .form-field.required
    =f.label :title, "Title"
    =f.text_field :title, :size => 60
  .form-field.required
    =f.label :abstract, "Abstract"
    =f.text_area :abstract, :cols => 80, :rows => 10
  .form-field
    =f.label :target_audience, "Target Audience"
    =f.text_field :target_audience
    Beginner, Intermediate, Advanced
  .form-field
    =f.label :code_weight, "Code Weight"
    =f.text_field :code_weight, :size => 5
    Percentage of content directly related to code
  .form-field
    =f.label :status, "Status"
    =f.text_field :status
  .form-field
    =f.label :user_id, "User"
    =f.collection_select :user_id, @users, :id, :username
  =submit_tag "Save", :class => "button"
  =link_to "Cancel", proposals_path, :class => "button"