%tr
  %td.nowrap
    =presentation.presentation_date_time.strftime("%I:%M %p")
  %td
    .schedule-title
      =link_to presentation.title, presentation_path(presentation)
    .schedule-speakers
      =display_speakers presentation
