%h1
  Schedule
.day-1
  .form-header
    Training Day #1 - Thursday, February 3rd, 2011
    %table.schedule
      %tr
        %th{:width => "20%"}
          Time
        %th{:width => "25%"}
          Room #1
        %th{:width => "25%"}
          Room #2
        %th{:width => "25%"}
          Room #3
      %tr
        %td
          9:00 AM - 
          %br
          Noon
        %td
          .schedule-title
            =link_to "Introduction to Rails", presentation_path(14)
          .schedule-speakers
            =link_to 'Michael Hartl', profile_path(67)
        %td
          .schedule-title
            =link_to "Ruby Koans", presentation_path(15)
          .schedule-speakers
            =link_to "Joe O'Brien,", profile_path(44)
            %br
            =link_to "Jim Weirich,", profile_path(71)
            %br
            and 
            =link_to "Matt Yoho", profile_path(85)
        %td
          .schedule-title
            =link_to "Rails 3 TDD", presentation_path(17)
          .schedule-speakers
            =link_to "Wolfram Arnold", profile_path(91)
      %tr
        %td
          Noon -
          %br
          1:00 PM
        %td.center{:colspan => 3}
          Lunch (On your own)
      %tr
        %td
          1:00 PM -
          %br
          5:00 PM
        %td.center
          Continued
        %td.center
          Continued
        %td.center
          Continued
.day-1
  .form-header
    Training Day #2 - Friday, February 4th, 2011
    %table.schedule
      %tr
        %th{:width => "20%"}
          Time
        %th{:width => "25%"}
          Room #1
        %th{:width => "25%"}
          Room #2
        %th{:width => "25%"}
          Room #3
      %tr
        %td
          9:00 AM -
          %br
          Noon
        %td
          .schedule-title
            =link_to "Introduction to Rails", presentation_path(14)
          .schedule-speakers
            =link_to 'Michael Hartl', profile_path(67)
        %td
          .schedule-title
            =link_to "Vital Testing", presentation_path(16)
          .schedule-speakers
            =link_to "Joe O'Brien,", profile_path(44)
            %br
            =link_to "Jim Weirich,", profile_path(71)
            %br
            and 
            =link_to "Matt Yoho", profile_path(85)
        %td
          .schedule-title
            =link_to "Using Ruby on Rails","http://www.oracle.com/webfolder/technetwork/tutorials/obe/db/oow10/rubyhol/instructions/rubyrails.htm"
            %br
            &nbsp;&nbsp;
            =link_to "with Oracle 11g", "http://www.oracle.com/webfolder/technetwork/tutorials/obe/db/oow10/rubyhol/instructions/rubyrails.htm"
          .schedule-speakers
            Kuassi Mensah
      %tr
        %td
          Noon -
          %br
          1:00 PM
        %td.center{:colspan => 3}
          Lunch (On your own)
      %tr
        %td
          1:00 PM -
          %br
          3:00 PM
        %td.center
          Continued
        %td.center
          Continued
        %td
          .schedule-title
            Using New Relic RPM with Ruby
          .schedule-speakers
            To Be Announced
      %tr
        %td
          3:00 PM -
          %br
          5:00 PM
        %td.center
          Continued
        %td.center
          Continued
        %td.center
          Open
.day-2
  .form-header
    Conference - Saturday, February 5th, 2011
    %table.schedule
      %tr
        %th
          Time
        %th
          Presentation / Presenter(s)
      =render :partial => 'presentation', :collection => @conference