%h1
  Schedule
.day-1
  .form-header
    Training Day #1 - Thursday, February 2nd, 2012
    %table.schedule
      %tr
        %th{:width => "20%"}
          Time
        %th{:width => "25%"}
          Room #1
        %th{:width => "25%"}
          Room #2
        %th{:width => "25%"}
          Room #3
      %tr
        %td
          9:00 AM - 
          %br
          Noon
        %td
          .schedule-title
            TBA
          .schedule-speakers
        %td
          .schedule-title
            TBA
          .schedule-speakers
        %td
          .schedule-title
            TBA
          .schedule-speakers
      %tr
        %td
          Noon -
          %br
          1:00 PM
        %td.center{:colspan => 3}
          TBA
      %tr
        %td
          1:00 PM -
          %br
          5:00 PM
        %td.center
          Continued
        %td.center
          Continued
        %td.center
          Continued
.day-1
  .form-header
    Training Day #2 - Friday, February 3rd, 2012
    %table.schedule
      %tr
        %th{:width => "20%"}
          Time
        %th{:width => "25%"}
          Room #1
        %th{:width => "25%"}
          Room #2
        %th{:width => "25%"}
          Room #3
      %tr
        %td
          9:00 AM -
          %br
          Noon
        %td
          .schedule-title
            TBA
          .schedule-speakers
        %td
          .schedule-title
            TBA
          .schedule-speakers
        %td
          .schedule-title
            TBA
          .schedule-speakers
      %tr
        %td
          Noon -
          %br
          1:00 PM
        %td.center{:colspan => 3}
          Lunch (On your own)
      %tr
        %td
          1:00 PM -
          %br
          3:00 PM
        %td.center
          Continued
        %td.center
          Continued
        %td
          .schedule-title
            TBA
          .schedule-speakers
      %tr
        %td
          3:00 PM -
          %br
          5:00 PM
        %td.center
          Continued
        %td.center
          Continued
        %td.center
          Open
.day-2
  .form-header
    Conference - Saturday, February 4th, 2012
    %table.schedule
      %tr
        %th
          Time
        %th
          Presentation / Presenter(s)
      =render :partial => 'presentation', :collection => @conference