%h1
  Schedule

.day-2
  .form-header
    Conference - Saturday, February 5th, 2010
    %table.schedule
      %tr
        %th
          Time
        %th
          Presentation / Presenter(s)
      =render :partial => 'presentation', :collection => @conference