%h1
  Schedule
.day-1
  .form-header
    Training Day #1 - Thursday, February 3rd, 2011
    %table.schedule
      %tr
        %th
          Time
        %th
          Room #1
        %th
          Room #2
        %th
          Room #3
      %tr
        %td
          9:00 AM - Noon
        %td
          .schedule-title
            Introduction to Rails
          .schedule-speakers
            Michael Hartl
        %td
          .schedule-title
            Ruby Koans
          .schedule-speakers
            Joe O'Brien, Jim Weirich, and Matt Yoho
        %td
          .schedule-title
            
.day-1
  .form-header
    Training Day #2 - Friday, February 4th, 2011
.day-2
  .form-header
    Conference - Saturday, February 5th, 2011
    %table.schedule
      %tr
        %th
          Time
        %th
          Presentation / Presenter(s)
      =render :partial => 'presentation', :collection => @conference