-content_for :head do
  %meta{'http-equiv' => 'refresh', :content => 300}
.module
  .module-inner
    %h1
      Community - Dashboard
=render :partial => 'root/community_navigation'

.three-col.left.fixed-height
  .module-inner
    .module-header Total Users
    =big_number(@users)
.three-col.middle.fixed-height
  .module-inner
    .module-header Proposals Submitted
    =big_number(@proposals)
.three-col.right.fixed-height
  .module-inner
    .module-header Likes cast
    =big_number(@votes)
.two-col.left
  .module-inner
    .module-header Proposals by Like
    %table.admin
      %tr
        %th
          Rank
        %th
          Title
        %th
          Like
      -@popular_proposals.each_with_index do |pro, i|
        %tr
          %td.right
            ="#{i+1}. "
          %td
            =pro[0]
          %td.center
            =pro[1]
.two-col.right
  .module-inner
    .module-header Recent Users
    %table.admin
      %tr
        %th
          User
        %th
          Last seen
      -@recent_users.each do |user|
        %tr
          %td
            =link_to user.username, user_path(user)
          %td.right
            =time_ago_in_words(user.last_login_date)
            ago
            
