%h2 Announcement
#announcement
  %h3 LA Ruby Conference 2011
  %p
    This is the third year for the LA Ruby Conference.  Come and join us to learn about ruby and related technologies and software development practices that might change the way you do your job.
  %p
    Early Bird Registration for the conference is now open.
  %p
    %span.bold
      February 3-5, 2011
      %br
      Crowne Plaza
      %br
      San Pedro, CA
  %p
    =link_to "Register Now!", "http://larubyconf.eventwax.com/la-ruby-conference-2011/register", :target => "_blank", :id => 'register-button'