%h2 Announcement
#announcement
  %h3 LA Ruby Conference 2011
  %p
    This is the third year for the LA Ruby Conference.  Come and join us to learn about ruby and related technologies and software development practices that might change the way you do your job.
  %p
    Registration for the conference is now open, if you have attended the conference in the past watch for an alumni discount code in your email.  If not check with your local meetup for a discount code.  Looking forward to a great event.
  %p
    %span.bold
      February 3-5, 2011
      %br
      Crowne Plaza
      %br
      San Pedro, CA
  %p
    =link_to "Register Now!", "http://larubyconf.eventwax.com/la-ruby-conference-2011/register", :target => "_blank", :id => 'register-button'