%h2
  Announcement
#announcement
  %h3 
    LA Ruby Conference 2012
  %p
    This is the fourth year for the LA Ruby Conference.  Thank you for joining us.
  %p
    Registration for the conference is now open.
  %p
    %span.bold
      February 2nd-4th, 2011
      %br
      Holiday Inn Media Center
      %br
      Burbank, California
  %p
    =link_to "Register Now!", "http://larubyconf.eventwax.com/la-ruby-conference-2012/register", :target => "_blank", :id => 'register-button'