%h2 Announcement
#announcement
  %h3 LA Ruby Conference 2011
  %p
    This is the third year for the LA Ruby Conference.  Come and join us to learn about ruby and related technologies and software development practices that might change the way you do your job.
  %p
    Registration for the conference is NOT yet open.
  %p
    %span.bold
      February 3-5, 2011
      %br
      Crowne Plaza
      %br
      San Pedro, CA
