%h2 Announcement
#announcement
  %h3 LA Ruby Conference 2011
  %p
    This was the third year for the LA Ruby Conference.  Thank you for joining us.
  %p
    Registration for the conference is now closed.
  %p
    %span.bold
      February 3-5, 2011
      %br
      Crowne Plaza
      %br
      San Pedro, CA
  %p
    =link_to "Register Now!", "http://larubyconf.eventwax.com/la-ruby-conference-2011/register", :target => "_blank", :id => 'register-button'