#footer
  %ul
    %li.first
      ="Copyright #{Date.today.strftime('%Y')} - Techconf, LLC"
    %li
      Privacy Policy
    %li
      Terms of Service
  %ul    
    %li.first
      Version:
      =APP_VERSION