#header
  #meta
    %ul
      %li.first
        -unless session.authenticated?
          =link_to 'Login', new_session_path
          %li
            =link_to 'Sign up', new_user_path
        -else
          Welcome back,
          =session.user.username
          %li
            =link_to 'My Profile', user_path(session.user)
          -if session.user.admin?
            %li
              =link_to 'Administration', admin_path
            %li
              =link_to "Logout", session_path, :method => :delete
    #top-announcement
      -if Date.today < Date.parse('2011-02-03')
        LA Ruby Conference 2011 is only
        =distance_of_time_in_words(Date.today,Date.parse('2011-02-03')) 
        away
      -else
        LA Ruby Conference 2011 was
        =distance_of_time_in_words(Date.today,Date.parse('2011-02-03')) 
        ago
#navbar
  %ul#suckerfish
    %li
      =link_to_unless_current 'Home', root_path
    %li
      =link_to_unless_current 'Community', community_path
    %li
      =link_to_unless_current 'Venue', venue_path
    %li
      =link_to_unless_current 'Speakers', speakers_path
    %li
      =link_to_unless_current 'Schedule', presentations_path
    %li
      =link_to_unless_current 'Sponsors', sponsors_path
    %li
      =link_to_unless_current "Last Year", 'http://2010.larubyconf.com'
    %li
      =link_to_unless_current 'Contact Us', contact_us_path
