#header
  #meta
    %ul
      %li.first
        -unless session.authenticated?
          =link_to 'Login', new_session_path
          %li
            =link_to 'Sign up', new_user_path
        -else
          Welcome back,
          =session.user.username
          %li
            =link_to 'My Profile', user_path(session.user)
          -if session.user.admin?
            %li
              =link_to 'Administration', admin_path
            %li
              =link_to "Logout", session_path, :method => :delete
  #top-announcement
    Tentative dates for next year - February 2-4, 2012
    #sub-top-announcement
      -if Date.today < Date.parse('2010-12-14')
        You 
        -remaining = (Date.parse("2010-12-13") - Date.today).to_i
        -if remaining < 30 
          only
        have 
        =remaining
        days left to submit your proposal.
#navbar
  %ul#suckerfish
    %li
      =link_to_unless_current 'Home', root_path
    %li
      =link_to_unless_current 'Proposals', proposals_path
    %li
      =link_to_unless_current 'Community', dash_path
    %li
      =link_to_unless_current 'Venue', venue_path
    %li
      =link_to_unless_current 'Speakers', speakers_path
    %li
      =link_to_unless_current 'Schedule', presentations_path
    %li
      =link_to_unless_current 'Sponsors', sponsors_path
    %li
      =link_to_unless_current "Last Year", last_year_path%p
    %li
      =link_to_unless_current 'Contact Us', contact_us_path
