%h1 Sponsors
%p
  The following companies have helped make the Los Angeles Ruby Conference possible once again!
=render :partial => 'sponsor', :collection => @sponsors
%hr
%p
  Please see the 
  =link_to 'Sponsorship Prospectus', 'media/2012-la-ruby-conf-sponsorship-prospectus.pdf', :target => "_blank"
  for full details.
%p
  If you have questions please contact
  =link_to 'staff@larubyconf.com', 'mailto://staff@larubyconf.com'
  or call JR Fent at (775) 544-1112.
