%h1 Sponsors
%p
  Please see the 
  =link_to 'Sponsorship Prospectus', 'media/larubyconf-2010-sponsorship-prospectus.pdf', :target => "_blank"
  for full details.
%p
  If you have questions please contact
  =link_to 'staff@larubyconf.com', 'mailto://staff@larubyconf.com'
  or call JR Fent at (775) 544-1112.
  =render :partial => 'sponsor', :collection => @sponsors