.module
  .module-inner
    %h1 Proposals
    -if params[:user_id]
      %h3 
        for 
        =User.find(params[:user_id]).username
.right
  =link_to "Submit a Proposal", new_user_proposal_path(session.user)
%ul.proposal
  =render :partial => 'proposal', :collection => @proposals
