.module
  .module-inner
    %h1 Proposals
    -if params[:user_id]
      %h3 
        for 
        =User.find(params[:user_id]).username
%p
  Submission deadline: 
  %strong
    December 14th, 2011 11:59:59 PM PST.
%p
  Voting deadline:
  %strong
    December 21st, 2011 11:59:59 PM PST.
.right
  -if session.user
    =link_to "Submit a Proposal", new_user_proposal_path(session.user)
  -else
    %em
      You must sign up and login to submit a proposal.
%ul.proposal
  =render :partial => 'proposal', :collection => @proposals
