%h1
  LA Ruby Conference 2012 Badges for your site!
%p.center
  =image_tag("la-ruby-badge-2012-attendee-small.png")
%p.center
  =image_tag("la-ruby-badge-2012-speaker-small.png")
%p.center
  =image_tag("la-ruby-badge-2012-sponsor-small.png")
%p.center
  =image_tag("la-ruby-badge-2012-staff-small.png")
%p.center
  =image_tag("la-ruby-badge-2012-organizer-small.png")
%p
  &nbsp;