%h1
  LA Ruby Conference 2011 Badges for your site!
%p.center
  =image_tag("la-ruby-conf-2011-badge-attendee.png")
%p.center
  =image_tag("la-ruby-conf-2011-badge-speaker.png")
%p.center
  =image_tag("la-ruby-conf-2011-badge-sponsor.png")