%h1 Contact Us
%p
  The LA Ruby Conference is organized by:
  %ul
    %li
      =google_search_link 'Connie Fent'
    %li
      =google_search_link 'JR Fent'
      (775) 544-1112
    %li
      =google_search_link 'Coby Randquist'
      (818) 237-8942
%p
  We can be contacted through any of the usual means.  If you don't care to look any of us up individually you can send an email to
  =link_to 'staff@larubyconf.com', 'mailto:staff@larubyconf.com'
  and it will reach all of us.
%p
