%h2
  Due to the overwhelming support of our sponsors we are happy to announce that the next 100 attendees can get into the conference on Saturday for $95.00.
  =days_til_event
=link_to "Register Now!", "http://larubyconf.eventwax.com/la-ruby-conference-2011/register", :target => "_blank", :id => 'register-button'
%p
  The full day workshops on Thursday and Friday are still $149.00 each.
%dl
  =render :partial => 'news_items/news_item', :collection => @news_items
