%h2
  A sincere Thank You! to all of our attendees, sponsors, instructors, and presenters.  Thank you for helping to make the Los Angeles tech-community stronger.
%dl
  =render :partial => 'news_items/news_item', :collection => @news_items
