%h1 LA Ruby Conference 2011
%p.center
  =link_to "Last Years Web-site", "http://2011.larubyconf.com"
%p
  In February 2011 the Los Angeles Ruby Conference was held at the Crowne Plaza in San Pedro, CA.  We had a turn out of about 160 people in attendance.  There were two full days of training, followed by a single track one day conference.
%h2 Training
%p
  The following traning classes were available in 2011:
  %ul
    %li Ruby Koans by Joe O'Brien, Jim Wierich, and Matt Yoho
    %li Introduction to Ruby on Rails by Michael Hartl
    %li Rails 3 TDD by Wolfram Arnold
    %li Vital Testing by Joe O'Brien, Jim Wierich, and Matt Yoho
    %li Using New Relic with Rails Applications
%h2 Conference
%p
  You can see the videos from the 2011 Los Angeles Ruby Conference here:
%p
  =link_to '2011 Los Angeles Ruby Conference Videos', "http://confreaks.net/larubyconf2011"
