%h1 LA Ruby Conference 2010
%p.center
  =link_to "Last Years Web-site", "http://2010.larubyconf.com"
%p
  In February 2010 the Los Angeles Ruby Conference was held at the Burbank Holiday Inn Media Center.  We had a turn out of about 150 people in attendance.  We hosted a full day of training, followed by a single track conference.
%h2 Training
%p
  On Friday we had five training classes:
  %ul
    %li Ruby Koans taught by Joe O'Brien, Jim Wierich
    %li Pew Pew: Writing Games with Ruby by Shawn Anderson
    %li Introduction to Ruby on Rails by Alf Mikula
    %li Nokogiri & Mechanize by Aaron Patterson
    %li Get off server, and into the cloud by Ari Lerner
%h2 Conference
%p
  The presentations for the conference included:
  %ul
    %li
      =link_to 'Oh S***: How to bring a big Rails website down (and how not to)', 'http://confreaks.net/videos/138-larubyconf2010-oh-s-how-to-bring-a-big-rails-website-down-and-how-not-to'
      %br
      by 
      =link_to 'Tim Morgan', 'http://confreaks.net/presenters/136-tim-morgan'
    %li
      =link_to 'Alternative Data Structures in Ruby', 'http://confreaks.net/videos/150-larubyconf2010-alternative-data-structures-in-ruby'
      %br
      by
      =link_to 'Tyler McMullen', 'http://confreaks.net/presenters/149-tyler-mcmullen'
    %li
      =link_to 'Indoctrinating the Next Generation: Teaching Ruby to Kids', 'http://confreaks.net/videos/151-larubyconf2010-indoctrinating-the-next-generation-teaching-ruby-to-kids'
      %br
      by
      =link_to 'Sarah Mei', 'http://confreaks.net/presenters/150-sarah-mei'
    %li
      =link_to 'Everything you ever wanted to know about threads and fibers but were afraid to ask', 'http://confreaks.net/videos/152-larubyconf2010-everything-you-ever-wanted-to-know-about-threads-and-fibers-but-were-afraid-to-ask'
      %br
      by
      =link_to 'Joe Damato', 'http://confreaks.net/presenters/17-joe-damato'
      and
      =link_to 'Aman Gupta', 'http://confreaks.net/presenters/19-aman-gupta'
    %li
      =link_to 'New Relic: Web App Performance Monitoring / Paul MacCready - Gossamer Condor', 'http://confreaks.net/videos/153-larubyconf2010-new-relic-web-app-performance-monitoring-paul-maccready-gossamer-condor'
      %br
      by
      =link_to 'Bjorn Freeman-Benson', 'http://confreaks.net/presenters/151-bjorn-freeman-benson'