%h1
  Venue: Holiday Inn - Burbank

%p
  %span.left-image
    =image_tag('burbank-holiday-inn.jpg', :alt => 'Holiday Inn at Burbank, CA')
  The 2010 Los Angeles Ruby Conference is being held at the 
  =link_to 'Holiday Inn® Burbank - Media Center', 'http://www.holidayinn.com/h/d/hi/1/en/hotel/laxbb?&dp=true', :target => "_blank"
  in Burbank, CA.

%p
  The reservation phone number for the hotel is (877) 863-4780.  When making a reservation mention the code LARUBY to receive our negotiated rate.

%p
  Full information for the hotel is:
%p.venue-information
  Holiday Inn
  %br
  Burbank-Media Center
  %br
  150 E. Angeleno
  %br
  Burbank, CA 91502 United States
  %ul
    %li
      Reservations: 1-877-863-4780
    %li
      Front Desk: 1-818-841-4770 
    %li
      Fax: 1-818-566-7886 

%p
  If you have problems with your reservation or need special accomodations you can contact the hotel directly with the above information.  Or contact our 
  =link_to 'administrative staff', 'mailto: staff@larubyconf.com'
  \.

%p
  If you are flying to Southern California to attend the conference we recommend flying into Bob Hope International Airport in Burbank.  It is located less than five miles from the venue.  If you fly into LAX then we recommend catching an express shuttle from the airport to the hotel, a cab ride will cost $85.00 or more depending on traffic.

%p.center
  <iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=d&amp;source=s_d&amp;saddr=Unknown+road&amp;daddr=150+East+Angeleno+Avenue,+Burbank,+CA+91502+(Holiday+Inn+Burbank-Media+Center+Hotel)&amp;hl=en&amp;geocode=FQTKCQIdQA_y-A%3BFbaJCQIdLcLy-CGVuqyp0RYDtymbezvaVpXCgDHswttoSmGgrA&amp;mra=dme&amp;mrcr=0&amp;mrsp=0&amp;sz=17&amp;sll=34.197144,-118.351099&amp;sspn=0.004739,0.011362&amp;ie=UTF8&amp;ll=34.19292,-118.333912&amp;spn=0.049696,0.085831&amp;z=13&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=d&amp;source=embed&amp;saddr=Unknown+road&amp;daddr=150+East+Angeleno+Avenue,+Burbank,+CA+91502+(Holiday+Inn+Burbank-Media+Center+Hotel)&amp;hl=en&amp;geocode=FQTKCQIdQA_y-A%3BFbaJCQIdLcLy-CGVuqyp0RYDtymbezvaVpXCgDHswttoSmGgrA&amp;mra=dme&amp;mrcr=0&amp;mrsp=0&amp;sz=17&amp;sll=34.197144,-118.351099&amp;sspn=0.004739,0.011362&amp;ie=UTF8&amp;ll=34.19292,-118.333912&amp;spn=0.049696,0.085831&amp;z=13" style="color:#0000FF;text-align:left">View Larger Map</a></small>