%h1
  Venue: Crowne Plaza - San Pedro, CA

%p
  %span.left-image
    =image_tag('crowne-plaza-01.jpg', :alt => 'Crowne Plaza at San Pedro, CA')
    %br
    =image_tag('crowne-plaza-02.jpg', :alt => 'Crowne Plaza Lobby View')
  The 2011 Los Angeles Ruby Conference is being held at the 
  =link_to 'Crowne Plaza', 'http://www.ichotelsgroup.com/h/d/cp/1/en/hotel/laxpv?externalHotelDetailHit=true', :target => "_blank"
  in San Pedro, CA.

%p
  The reservation phone number for the hotel is (877) 270-1393.  When making a reservation mention the code LARUBY to receive our negotiated rate.

%p
  Full information for the hotel is:
%p.venue-information
  %strong Crowne Plaza
  %br
  601 S Palos Verdes Street
  %br
  San Pedro, CA 90731 United States
%p.venue-information
  Reservations: 1-877-270-1393
  %br
  Front Desk: 1-310-519-8200
  %br
  Fax: 1-310-521-8053
%h2 Stuff Near by
%p
  %span{:style => "font-weight: bold"}
    Must See:
  The San Pedro Gateway is an excellent spot for an evening stroll, but you might want to stay for a while when you get to the Fanfare Fountain. Synchronized water spouts "dance" to classical and popular melodies as they put on a show near the waterfront.
%p
  %span{:style => "font-weight: bold"}
    Must Do:
  Sports nuts can enjoy playing a round of golf at Trump National or Los Verdes golf clubs near our hotel. If you're more of a history buff, you might want to visit Fort MacArthur on the Los Angeles harbor. Our hotel is just a mile from this Army museum.
%p
  %span{:style => "font-weight: bold"}
    What's New:
  Want to take your workout beyond our hotel's gym? In San Pedro, California, there are many ways to exercise and get some fresh air. The nearby 22nd Street Park features bocce ball courts, bike paths, walking trails and a 4.5-acre field in which to play.
%p
  %span{:style => "font-weight: bold"}
    Don't Go Home Without:
  Since we're located on the Los Angeles harbor, our hotel is near the ferry terminals. If you have some free time, plan to take a high-speed catamaran to Catalina Island for a day trip. The island is a great place for sightseeing, diving and kayaking.
%p
  %span{:style => "font-weight: bold"}
    Tips:
  Don't assume that summer in Los Angeles is always hot. Coastal areas experience cooler evening temperatures, so it's best to dress in layers during your trip. Be sure to check the weather online or ask our hotel's staff while in San Pedro, California.
%p
  If you have problems with your reservation or need special accomodations you can contact the hotel directly with the above information.  Or contact our 
  =link_to 'administrative staff', 'mailto: staff@larubyconf.com'
  \.

%h2 Travel 
%p
  If you are flying to Southern California to attend the conference we recommend flying into either the Long Beach Airport (LGB) or Los Angeles International Airport (LAX).
%p
  It's about 30 minutes from either airport, although Long Beach is closer to the venue.

%p.center
  <iframe width="580" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=d&amp;source=s_d&amp;saddr=601+S+Palos+Verdes+Street+,+san+pedro,+ca&amp;daddr=LAX&amp;hl=en&amp;geocode=FT3OAgIdzyjz-Cl_gZLSMDbdgDG8m_Ry6A8pTw%3BFezvBQIdVjrx-ClNpPu-ILHCgDEzG4k9ug9THQ&amp;mra=ls&amp;sll=33.818421,-118.14436&amp;sspn=0.042928,0.090895&amp;ie=UTF8&amp;ll=33.84189,-118.343935&amp;spn=0.2072,0.12859&amp;t=h&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=d&amp;source=embed&amp;saddr=601+S+Palos+Verdes+Street+,+san+pedro,+ca&amp;daddr=LAX&amp;hl=en&amp;geocode=FT3OAgIdzyjz-Cl_gZLSMDbdgDG8m_Ry6A8pTw%3BFezvBQIdVjrx-ClNpPu-ILHCgDEzG4k9ug9THQ&amp;mra=ls&amp;sll=33.818421,-118.14436&amp;sspn=0.042928,0.090895&amp;ie=UTF8&amp;ll=33.84189,-118.343935&amp;spn=0.2072,0.12859&amp;t=h" style="color:#0000FF;text-align:left">View Larger Map - Los Angeles International Airport (LAX)</a></small>

%p.center
  <iframe width="580" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=d&amp;source=s_d&amp;saddr=Long+Beach+Airport,&amp;daddr=601+S+Palos+Verdes+Street+,+san+pedro,+ca&amp;hl=en&amp;geocode=FTUHBAIdeEL1-CkVbaiwMTLdgDGJvDMqRIvGfw%3BFT3OAgIdzyjz-Cl_gZLSMDbdgDG8m_Ry6A8pTw&amp;mra=ls&amp;sll=33.782105,-118.21096&amp;sspn=0.170643,0.363579&amp;ie=UTF8&amp;ll=33.782105,-118.21096&amp;spn=0.08953,0.14431&amp;t=h&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=d&amp;source=embed&amp;saddr=Long+Beach+Airport,&amp;daddr=601+S+Palos+Verdes+Street+,+san+pedro,+ca&amp;hl=en&amp;geocode=FTUHBAIdeEL1-CkVbaiwMTLdgDGJvDMqRIvGfw%3BFT3OAgIdzyjz-Cl_gZLSMDbdgDG8m_Ry6A8pTw&amp;mra=ls&amp;sll=33.782105,-118.21096&amp;sspn=0.170643,0.363579&amp;ie=UTF8&amp;ll=33.782105,-118.21096&amp;spn=0.08953,0.14431&amp;t=h" style="color:#0000FF;text-align:left">View Larger Map - Long Beach Airport (LGB)</a></small>