%h1
  Venue: Crowne Plaza - San Pedro, CA

%p
  %span.left-image
    =image_tag('burbank-holiday-inn.jpg', :alt => 'Holiday Inn at Burbank, CA')
  The 2011 Los Angeles Ruby Conference is being held at the 
  =link_to 'Crowne Plaza', 'http://www.holidayinn.com/h/d/hi/1/en/hotel/laxbb?&dp=true', :target => "_blank"
  in San Pedro, CA.

%p
  The reservation phone number for the hotel is (877) 863-4780.  When making a reservation mention the code LARUBY to receive our negotiated rate.

%p
  Full information for the hotel is:
%p.venue-information
  Crowne Plaza
  %br
  %br
  San Pedro, CA 9???? United States
  %ul
    %li
      Reservations: 1-???-???-????
    %li
      Front Desk: 1-???-???-????
    %li
      Fax: 1-???-???-????

%p
  If you have problems with your reservation or need special accomodations you can contact the hotel directly with the above information.  Or contact our 
  =link_to 'administrative staff', 'mailto: staff@larubyconf.com'
  \.

%p
  If you are flying to Southern California to attend the conference we recommend flying into either tht Los Angeles International Airport or the John Wayne Airport.

%p.center
  <iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=d&amp;source=s_d&amp;saddr=Unknown+road&amp;daddr=150+East+Angeleno+Avenue,+Burbank,+CA+91502+(Holiday+Inn+Burbank-Media+Center+Hotel)&amp;hl=en&amp;geocode=FQTKCQIdQA_y-A%3BFbaJCQIdLcLy-CGVuqyp0RYDtymbezvaVpXCgDHswttoSmGgrA&amp;mra=dme&amp;mrcr=0&amp;mrsp=0&amp;sz=17&amp;sll=34.197144,-118.351099&amp;sspn=0.004739,0.011362&amp;ie=UTF8&amp;ll=34.19292,-118.333912&amp;spn=0.049696,0.085831&amp;z=13&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=d&amp;source=embed&amp;saddr=Unknown+road&amp;daddr=150+East+Angeleno+Avenue,+Burbank,+CA+91502+(Holiday+Inn+Burbank-Media+Center+Hotel)&amp;hl=en&amp;geocode=FQTKCQIdQA_y-A%3BFbaJCQIdLcLy-CGVuqyp0RYDtymbezvaVpXCgDHswttoSmGgrA&amp;mra=dme&amp;mrcr=0&amp;mrsp=0&amp;sz=17&amp;sll=34.197144,-118.351099&amp;sspn=0.004739,0.011362&amp;ie=UTF8&amp;ll=34.19292,-118.333912&amp;spn=0.049696,0.085831&amp;z=13" style="color:#0000FF;text-align:left">View Larger Map</a></small>