#thanks
  %h2 Thanks for your feedback

  %p
    Your feedback has been forwarded to the Staff for the
    LA Ruby Conference.  We will try and respond individually to all
    feedback.

  %span.submit
    = button_to_function "Close", "$('feedback').update('')", :class => 'button'