%p
The call for proposals has ended - Presentations will be announce January 20, 2010.
%h1
  Speakers
%p
  -unless @speakers.size == 0
    =render :partial => 'speaker', :collection => @speakers
  -else
    No speakers have been announced at this time.