%p
The call for proposals will end at 11:59:59 PM on Monday December 13th, 2010.  Voting on the proposals will end one week latter on December 20th, 2010.  Presentations will be announced December 23rd, 2010.
%h1
  Speakers
%p
  -unless @speakers.size == 0
    =render :partial => 'speaker', :collection => @speakers
  -else
    No speakers have been announced at this time.