!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lan => "en"}
  %head
    %meta{:name => "verify-v1", :content => "FzRGVFVhBn8WwI5nk0gMaJ/Rrat+wUYBFsTnaS+Hsz8="}
    %meta{:name => "description", :content => "LA Ruby Conference - Los Angeles area technology conference for Rubyists"}
    %title
      Los Angeles Ruby Conference 2011 | larubyconf.com
    =stylesheet_link_tag "main"
    =stylesheet_link_tag "user"
    =stylesheet_link_tag "feedback"

    =javascript_include_tag :defaults
    =javascript_include_tag 'feedback'

  %body
    #container
      =render :partial => 'shared/header'
      #main
        #leftcol
          =render :partial => 'shared/announcement'
        #rightcol
          =render :partial => "sponsors/display"
        #midcol
          -unless flash.empty?
            %ul#flash
              -flash.keys.each do |k|
                %li{:class => k}
                  =h flash[k]
            -javascript_tag do
              setTimeout("new Effect.Fade('flash');", 10000)
          =yield
        .clear
      =render :partial => 'shared/footer'

      =render :partial => 'shared/google_analytics'

    #lightbox_outer
      #lightbox_inner
        #lightbox_content
    #lightbox_overlay

    =render :partial => 'feedback/tab'